
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Encabezado común a todas las páginas -->
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'pagina_inicio' %}">Inicio</a></li>
            <li><a href="{% url 'categoria' %}">Categoría</a></li>
            <li><a href="{% url 'producto' %}">Producto</a></li>
            <li><a href="{% url 'procesar_cliente' %}">Cliente</a></li>
            <!-- Agrega más enlaces según tu aplicación -->
        </ul>
    </nav>

    <div>
        <!-- Contenido específico de cada página -->
        {% block content %}{% endblock %}
    </div>
</body>
</html>
