<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mi Blog</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'tu_ruta/local.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>
    <h1>Listado de Categorías</h1>
    
    <div class="container">
        <h2>Categoría</h2>
        <form method="post" action="{% url 'procesar_categoria' %}" enctype="multipart/form-data">

            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Buscar">
        </form>
    </div>
    {% for categoria in categorias %}
        <p>{{ categoria.nombre }}</p>
    {% endfor %}
    
    <footer class="bg-dark text-light py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-unstyled">
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">Acerca de nosotros</a></li>
                        <li><a href="#">Contacto</a></li>
                    </ul>
                </div>

                <div class="col-md-6 text-md-right">
                    <p>&copy; 2023 Autopartes M18. Todos los derechos reservados.</p>
                </div>

                <div class="col-md-12 mt-3">
                    <h5>Redes Sociales</h5>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="#" target="_blank"><i class="fab fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <!-- Agrega más iconos según sea necesario -->
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scripts al final del cuerpo del documento para una carga más rápida -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
