
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Productos</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <h1>Listado de Productos</h1>
    
    <div class="container">
        <h2>Producto Form</h2>
        <form method="post" action="{% url 'procesar_producto' %}">

            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Guardar">
        </form>
    </div>
    {% for producto in productos %}
        <p>{{ producto.nombre }} - {{ producto.descripcion }} - {{ producto.precio }}</p>
    {% endfor %}
    
</body>
</html>
